.detail-side{
    width: 100%;
    height: 590px;
    background-color: rgb(15, 14, 14);
   
    clip-path: inset(0 0 0 0);
    align-items: start;
}
.detail-manage{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.detail-img img{
    width: 420px;
    height: 550px;
   
    border-radius: 2px;
    margin-left: 80px;
    padding-top: 40px;
   
   
}
.detail-about{
    width: 600px;
    height: 590px;
    margin-left: 40px;
}
.detail-about h4{
    color: white;
    font-weight: 700;
    padding-top: 38px;
    margin-left: 10px;
}
.experience-element{
    width: 100px;
    height: 37px;
    background-color: darkslategrey;
    color: rgb(250, 242, 242);
    text-align: center;
    font-weight: 500;
    margin: 7px;
    padding: 5px;
    font-size: 17px;
    border-radius: 2px;
   
}
.exp-manage{
  display: flex;
  flex-wrap: wrap;

  
    
}
.about-title{
    color: white;
    width: 550px;
    font-size: 20px;
    margin-left: 10px;
    
}

@media (max-width:575px)
 {
    
   
    
    .detail-manage{
       
        height: auto;
       
        background-color: darkgoldenrod;
        grid-template-columns: repeat(1, 1fr);
    }
    .detail-about{
        
        height:auto;
        width: auto;
        background-color: crimson;
        margin-left: 10px;
       
    }
    .about-title{
        width: auto;
    }
    .detail-all{
        height: auto;
    }

    
}
@media (max-width:768px)
 {
    .detail-manage{
       grid-template-columns: repeat(1, 1fr);
    }
    .detail-about{
     
   
     
       
    }
    
    .detail-side{
       
        height: auto;
       
    } 
    
 }