.detail-side{
    width: 100%;
    height: 590px;
    background-color: rgb(15, 14, 14);
   
    clip-path: inset(0 0 0 0);
    align-items: start;
}
.detail-manage{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.detail-img img{
    width: 460px;
    height: 550px;
   
    border-radius: 2px;
    
    padding-top: 40px;
   
   
}
.detail-about{
    width: 600px;
    height: 590px;
    padding-top: 43px;
    
}
.detail-about h6{
    width: 500px;
    font-size: 18px;
    opacity: 98%;
    font-weight: 400;
}
.detail-about h4{
    color: white;
    font-weight: 700;
    padding-top: 58px;
    
}
.experience-element{
    width: 100px;
    height: 37px;
    background-color: darkslategrey;
    color: rgb(250, 242, 242);
    text-align: center;
    font-weight: 500;
    margin: 7px;
    padding: 5px;
    font-size: 17px;
    border-radius: 2px;
   
}
.exp-manage{
  display: flex;
  flex-wrap: wrap;

  
    
}
.about-title{
    color: white;
    width: 550px;
    font-size: 20px;
    margin-left: 10px;
    
}
@media  (min-width:300px) and (max-width:450px)
 {
    .detail-manage{
        grid-template-columns: repeat(1, 1fr);
        width: 400px;
     }
     .detail-about{
      width: 250px;
      height: 600px;
     
     font-size: 10px;
     margin-top: 25px;
      
        
     }
     .exp-manage{
        display: flex;
        flex-wrap: wrap;
        width: 330px;
      
        
          
      }
     .detail-about h6{
        font-size: 16px;
        width: 300px;
        margin-bottom: 5px;
        margin-bottom: 15px;
     }
     .experience-element{
        width: 65px;
        height: 37px;
        background-color: darkslategrey;
        color: rgb(250, 242, 242);
        text-align: center;
        font-weight: 500;
        margin: 7px;
        padding: 5px;
        font-size: 12px;
        border-radius: 2px;
       
    }
     .detail-img img{
      margin-left: -100px;
         width: 450px;
         height: 550px;
     }
     
     .detail-side{
        
         height: auto;
        
     } 
  
 }

@media  (min-width:450px) and (max-width:576px)
 {
    
   
    .detail-manage{
        grid-template-columns: repeat(1, 1fr);
        width: 400px;
     }
     .detail-about{
      width: 300px;
      height: 800px;
     padding-left: 35px;
     font-size: 10px;
     margin-top: 25px;
      
        
     }
     .exp-manage{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
      
        
          
      }
     .detail-about h6{
        font-size: 16px;
        width: 400px;
        margin-bottom: 5px;
     }
     .experience-element{
        width: 65px;
        height: 37px;
        background-color: darkslategrey;
        color: rgb(250, 242, 242);
        text-align: center;
        font-weight: 500;
        margin: 7px;
        padding: 5px;
        font-size: 12px;
        border-radius: 2px;
       
    }
     .detail-img img{
      margin-left: -90px;
         width: 450px;
         height: 550px;
     }
     
     .detail-side{
        
         height: auto;
        
     } 

    
}
@media  (min-width:577px) and (max-width:768px)
 {
    .detail-manage{
       grid-template-columns: repeat(1, 1fr);
    }
    .detail-about{
     width: 500px;
    padding-left: 67px;
    font-size: 21px;
    margin-top: 25px;
     
       
    }
    .detail-img img{
       margin-left: 100px;
        width: 450px;
        height: 550px;
    }
    
    .detail-side{
       
        height: auto;
       
    } 
    
 }
@media  (min-width:821px) and (max-width:1100px)
 {
    .detail-manage{
       grid-template-columns: repeat(2, 1fr);
    }
    .detail-about{
     width: 500px;
   
    font-size: 21px;
    margin-top: 25px;
     
       
    }
    .detail-img img{
       margin-left: 100px;
        width: 450px;
        height: 550px;
    }
    
    .detail-side{
       
        height: auto;
       
    } 
    .detail-about h6{
        font-size: 16px;
        width: 450px;
        margin-bottom: 5px;
     }
     .exp-manage{
        display: flex;
        flex-wrap: wrap;
        width: 450px;
      
        
          
      }
    
 }