@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Do+Hyeon&family=Poppins&family=Ubuntu:wght@500&display=swap');



.protfolio-all{
    width: 100%;
    height: 625px;
    background: url(../../../image/bac2.png);
   position: sticky;
   top: 0px;
   background-size: cover;
    
   
   
}
.header-all{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
.header-all ul{
 margin-left: 750px;
 padding-top: 20px;
 
}
.header-all ul a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 21px;
}
.header-all h3{
    color: white;
    margin-left: 35px;
    font-family: 'Ubuntu', sans-serif;
    
    
}
.span-title{
  color: orange;
}
.head-manage{
   margin-top: 150px;
   color: white;
   margin-left: 70px;
}
.name-color{
   color: crimson;
}
.head-manage h1{
    font-size: 64px;
 
}
.head-manage p{
    font-size: 31px;
}

.head-manage button{
    background-color: darkorange;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background-color: rgb(19, 17, 17);
    border-radius: 7px;
    border: 1px solid white;
    margin-top: 21px;
    font-weight: 600;
}

.head-manage small{
    font-size: 22px;
}
.logo-manage{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 1310px;
    
   padding-top: 52px;
}
.icon-system-change{
    padding: 5px;
    font-size: 20px;
}
@media only screen and(max-width:576px) {
    .protfolio-all{
       
       background: url(../../../image/bac2.png);
       position: sticky;
       background-size: cover;
       top: 0px;
      
       
        
       
       
    }
}